@import url('https://fonts.googleapis.com/css2?family=Koh+Santepheap:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Life+Savers:wght@400;700&display=swap');

@font-face {
    font-family: 'Koh Santepheap', serif;
    src: url('https://fonts.googleapis.com/css2?family=Koh+Santepheap:wght@400;700&display=swap');
}

@font-face {
    font-family: 'Life Savers', serif;
    src: url('https://fonts.googleapis.com/css2?family=Life+Savers:wght@400;700&display=swap');
}